:root {
}

body > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

* {
  font-family: 'Courier New', Courier, monospace !important;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
}
